@import "../../assets/styles/variables";

.about-dei {
	h2 {
		background: linear-gradient(180deg, $headingColor 0%, $headingColor 100%);
		-webkit-background-clip: text;
		background-clip: text;
		margin-bottom: 1rem;
	}

	main {
		background: #fff;
		display: flex;
		flex-direction: column;

		p {
			color: $textColor2;
			line-height: 1.8;
		}

		section {
			display: flex;
			flex-direction: column;
			gap: 2.5rem;
		}

		section.top {
			padding: 4rem 1rem 1.81rem;
			border-bottom: 0.5px solid $borderColor2;
		}

		section.btm {
			padding: 1.25rem 1rem 8rem;

      .dei-file {
        img{
          margin-top: 2rem;
        }
      }

			.dei-badge {
				.badges {
					display: grid;
					grid-template-columns: repeat(3, 1fr);
					gap: 7px;
          margin-top: 1rem;

					img {
						width: 100%;
						height: 100%;
						min-width: 100px;
						max-width: 192px;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.about-dei {
		h2 {
			font-size: 2rem;
		}

		main {
			section.top {
				padding: 4.375rem 7.5rem 3.375rem;
			}
			section.btm {
				padding: 2.81rem 7.5rem 21rem;
			}
		}
	}
}
