@import "../../assets/styles/variables";

.about-dei {
  * > * {
    color: inherit;
  }

	.jumbotron {
		padding: 140px 24px 53px 24px;
		margin: 0rem 0rem;
		max-width: 70.875rem;

		h2 {
			font-size: 3rem;
		}

		p {
			max-width: inherit;
			font-size: 1.25rem;
		}
	}

	main {
		background: #fff;
    padding: 2rem 1.25rem 5.8rem;

    h3, h2 {
      background: linear-gradient(180deg, $headingColor 0%, $headingColor 100%);
			-webkit-background-clip: text;
			background-clip: text;
    }

		h2 {
			margin: 2rem 0 1rem;
		}

    h3 {
      font-family: $font-family_2;
      font-size: 1rem;
      margin: 0;
    }

		p {
			color: $textColor2;
			line-height: 1.8;
		}

    .page__content {

      ul {
        padding: 0 0 0 1.5rem;

        li {
          list-style: disc;
        }
      }

      h3 {
        margin-top: 1rem;
      }

      .dei__file {
        p:not(:first-of-type) {
          margin-top: 1rem;
        }
      }

      .dei__badges{
        h4 {
          margin-top: 1rem;
        }

        .badges {
          display: flex;
          flex-wrap: wrap;
          gap: .5rem 1rem;
          margin-bottom: 1rem;
        }
      }
    }

		section {
		}

		section.top {
			padding: 4rem 1rem 1.81rem;
			border-bottom: 0.5px solid $borderColor2;
		}

		section.btm {
			padding: 1.25rem 1rem 8rem;

			// .dei-badge {
			// 	.badges {
			// 		display: grid;
			// 		grid-template-columns: repeat(3, 1fr);
			// 		gap: 7px;
			// 		margin-top: 1rem;

			// 		img {
			// 			width: 100%;
			// 			height: 100%;
			// 			max-width: 192px;
			// 		}
			// 	}
			// }
		}
	}
}

@media screen and (min-width: 768px) {
	.about-dei {
		h2 {
			font-size: 2rem;
		}

		.header {
			// position: relative;

			.jumbotron {
				// padding: 180px 120px 70px 120px;
				// max-width: 70.875rem;
				// align-items: flex-start;
				// position: sticky;
				// top: 0;

				p {
					// font-size: 18px;
					// max-width: inherit;
				}
			}
		}

		main {
			// position: relative;
			// align-items: flex-start;

			// .page__nav {
			//   position: sticky;
			// }

			// section {
			// 	.content {
			// 		padding: 0 7.5rem;
			// 	}
			// }

			// section.top {
			// 	padding: 4.375rem 0 3.375rem;
			// }
			// section.btm {
			// 	padding: 2.81rem 0 21rem;

			// 	.dei-badge {
			// 		.badges {
			// 			display: flex;
			// 		}
			// 	}
			// }
		}
	}
}

@media screen and (min-width: 1441px) {
	.about-dei {
		.jumbotron {
			// max-width: 1340px;
			// padding: 180px 0px 70px 30px;
			// margin: 0 auto;
		}
		main {
			section {
				.content {
					// margin: 0 auto;
					// padding: 0px 0px;
					// max-width: 1340px;
					// padding: 0px 30px;
				}
			}
		}
	}
}
