@import "../../assets/styles/variables.scss";

main {
  color: #000;
  height: auto;
  width: 100%;

  .successContainer {
    background-color: #fff;
    max-width: 1440px;
    margin: auto;
    padding: 0 20px;

    .infoContainer {
      height: 70vh;
      display: flex;
      align-items: center;
      justify-content: end;
      flex-direction: column;
      background-color: #fff;
      max-width: 1440px;
      gap: 10px;

      .msg-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }

      .title-header {
        font-family: $font-family_1;
        font-size: 32px;
        font-weight: 600;
        color: #000;
      }
      .report {
        text-align: center;
        margin-bottom: 5rem;
        p {
          font-family: $font-family_2;
          font-size: 18px;
          font-weight: 400;
          line-height: 150%;
          color: #000;
        }
      }
    }
  }
  .badge-more {
    background-color: #f7f7f7;
    height: 30vh;
    width: 100% !important;
    padding: 0 10px;

    .item {
      max-width: 1440px;
      background-color: #f7f7f7;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: end;
      height: 100%;
      border: none;

      a {
        padding: 20px 70px;
        background-color: #06f395;
        margin-right: 4rem;
        color: #000;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .successContainer {
    .title-header {
      font-size: 25px !important;
    }
  }
  .badge-more {
    .item {
      justify-content: center !important;
      align-items: start !important;
      padding-top: 50px !important;
    }

    a {
      padding: 20px 70px !important;
      margin-right: 0 !important;
    }
  }
}
