@import "../../assets/styles/variables";

.badge {
  color: #000;
  height: 50vh;
  padding-top: 3rem;
    h1 {
      margin-bottom: 20px;
    }

    .section-list {
      li {
        list-style-type: styleL;
        margin-top: 10px; 
        margin-left: 2rem;
    }
    }
    .login {
      // background-color: red;
      width: 100%;
      display: flex;
      gap: 10px;
      margin-top: 2rem;

      button {
        // font-size: 16px;
        padding: 15px 4rem;
        border-radius: 10px;
        border: none;
        color: #fff;
        cursor: pointer;
       
      }
      .github {
        background-color:#222D33;
      }
      .gitlab {
        background-color:#D61B5E;
      }
    }
}

@media screen and (max-width: 700px) {
  .badge {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // justify-content: center;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 500px) {
  .badge {
    .login {
      flex-wrap: wrap;
      button {
        // font-size: 16px;
        padding: 20px 3rem !important;
      }
    }
  }
}
@media screen and (max-width: 430px) {
  .badge {
    .login {
      flex-wrap: wrap;
      button {
        // font-size: 16px;
        padding: 8px 15px !important;
      }
    }
  }
}
