@import '../../assets/styles/variables';

.section-two {
  background-color: white;
  padding: 84px 31px 70px 31px;

  .section-wrap {
    padding: 29px 32px 34px 37px;
    height: 462px;
    width: 367px;
    margin: auto;
    border: 1px solid $borderColor2;

    background-color: #f5f5f5;

    .section-title {
      h2 {
        background: $headingColor;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        line-height: 40px;
        margin-bottom: 10px;
        font-family: $font-family_1;
        font-size: 32px;
        font-weight: 700;
        border-bottom: 1px solid $borderColor2;
        padding-bottom: 10px;
        border-width: 2px;
      }
    }

    .section-list {
      color: $textColor3;
      margin-bottom: 30px;
      li {
        max-width: 298px;
        color: $textColor4;
        margin-left: 25px;
        list-style-type: decimal;
        font-family: $font-family_2;
        font-weight: 400;
        font-size: 16px;
        line-height: 38px;
      }
    }
    .login-github {
      button {
        font-family: $font-family_2;
        font-weight: 700;
        font-size: 16px;
        color: $textColor4;
        width: 308px;
        height: 72px;
        background: $secondaryBtnColor2;
        border: none;
        cursor: pointer;
        line-height: 24px;
        .btn-mb-badge {
          color: $textColor4;
        }
        .btn-dt-badge {
          display: none;
        }
        img {
          padding-top: 4px;
          margin-left: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .requirements {
    .section-two {
      height: 100%;

      .section-wrap {
        width: 552px;
        height: 530px;
        margin-left: 70px;
        padding-top: 60px;
        padding-left: 70px;
        border-radius: 8px;

        .section-list {
          color: $textColor3;
          margin-bottom: 50px;
          li {
            max-width: 100%;
            width: 417px;
            line-height: 35px;
          }
        }
        .login-github {
          button {
            width: 273px;
            height: 64px;
            padding: 4px, 4px, 4px, 6px;

            .btn-dt-badge {
              display: inline-flex;
              color: $textColor4;
            }
            .btn-mb-badge {
              display: none;
            }
            img {
              padding-top: 4px;
              margin-left: 30px;
            }
          }
        }
      }
    }
  }
}
