# dependencies
node_modules

# testing
/coverage

# production
build

# misc
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variable files
.env*
.env.development.local
.env.test.local
.env.production.local
.env.local
!.env.development

.DS_Store

# Settings file is dynamically generated inside webpack.common.js
# using data from the .env files
settings.json