@import "../../assets/styles/variables";

.page {
	display: flex;
	flex-direction: column;

	h2 {
		font-size: 2rem;
		font-weight: 600;
		background: $cardTitleBackground;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		color: transparent;
    margin-bottom: 2rem;
	}

	button {
		background: inherit;
		border: none;
    font-size: 1rem;
    cursor: pointer;
	}

	.page-content {
		display: flex;
		flex-direction: column;
		padding: 8.5rem 1rem;
		margin: 0 auto;
		max-width: 62rem;
		width: 100%;

		.search_results {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			row-gap: 0.25rem;
			column-gap: 1.3rem;

			li {
				list-style-type: none;
				background: #222d33;

				button {
					padding: 1.3rem 1rem;
					width: 100%;
					text-align: left;
				}
			}
		}

    .info {
      display: flex;
      margin-top: 18px;

      p {
        font-size: 14px;
        color: #EDEDED;
        margin: 0 1.5rem 0 .8rem;
      }
    }

    > button {
      background: #fff;
      align-self: flex-start;
      padding: 23px 47px;
      color: $headingColor;
      font-weight: 500;
      margin-top: 3rem;
    }
	}
}
