@import "../../assets/styles/variables";

body{
  background-color: #fff !important;
}

li, a, p, h1, h2, h3, h4, h5, h6{
  color: #000;
}

.home-container {
  // height: 100%;
  // position: relative;
  // width: 100%;
}
 
.overlay {
  // background-color: #000;
  height: 100%;
  width: 100%;
  // z-index: 99;
  position: absolute;
  overflow: hidden;
 
  .bgLeft {
    width: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 107, 160, 0.30) 0%, rgba(255, 255, 255, 0.00) 62.81%);
    height: 100%;
    position: absolute;
    right: -15rem;
    overflow: hidden;
    top: 2rem;
    
  }

  .bgRight {
    width: 50%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(94, 184, 148, 0.30) 0%, rgba(255, 255, 255, 0.00) 62.81%);   
    height: 100%;
    position: absolute;
    left: -15rem;
    top: 3rem;
    // overflow: hidden;
  }

  .bgCenter {
    width: 100%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(98, 203, 251, 0.30) 0%, rgba(255, 255, 255, 0.00) 62.81%);
    height: 100%;
    position: absolute;
    top: -12rem;
  }
}
.hero {
  // height: 500px;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;

// filter: blur(5px);
 

 

  h1 {
    font-size: 40px;
    margin-top: 10rem;
    // line-height: 30px;
  }
  .hero-header {
    div {
      margin-top: 20px;
      max-width: 700px;
      padding: 0 10px;
    }
    p {
      line-height: 30px;
    }
    
  }

  .sponsors {
    // position: absolute;
    // bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    flex-wrap: wrap;
    margin-top: 5rem;
    
    .s-list {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 5px;

      p {
        color: #1C1C1C;
        font-weight: bold;
      }
    }

    .sponsors-logo {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;

      // img {
      //   width: 70px;
      //   height: 50px;
      // }
    }
  }
}


@media screen and (max-width: 700px) {
  .hero {
    // height: auto !important;
    
  }
  .hero-header {
    h1 {
      text-align: left !important;
      padding: 0 10px;
      margin-top: 10rem;
    }
    p {
      text-align: left !important;
    }
  }
  .sponsors  {
    gap: 30px !important;
    padding: 0 10px !important;
    justify-content: flex-start !important;
    // align-items: flex-start;
    // margin-bottom: 40px;
    width: 100%;
    .s-list {
      text-align: left !important;
      
    }
    .sponsors-logo {
      gap: 20px !important;
    }
    
  }
}
