@import "../../assets/styles/variables";

body {
  background-color: #fff !important;
}

li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

.overlay {
  height: 100%;
  width: 100%;

  position: absolute;
  overflow: hidden;
  .bgLeft {
    width: 50%;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 107, 160, 0.3) 0%,
      rgba(255, 255, 255, 0) 62.81%
    );
    height: 100%;
    position: absolute;
    right: -15rem;
    overflow: hidden;
    top: 2rem;
  }

  .bgRight {
    width: 50%;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(94, 184, 148, 0.3) 0%,
      rgba(255, 255, 255, 0) 62.81%
    );
    height: 100%;
    position: absolute;
    left: -15rem;
    top: 3rem;
  }

  .bgCenter {
    width: 100%;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(98, 203, 251, 0.3) 0%,
      rgba(255, 255, 255, 0) 62.81%
    );
    height: 100%;
    position: absolute;
    top: -12rem;
  }
}
.hero {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;

  h1 {
    font-size: 40px;
    margin-top: 10rem;
  }
  .hero-header {
    div {
      margin-top: 20px;
      max-width: 700px;
      padding: 0 10px;
    }
    p {
      line-height: 30px;
    }
  }

  .sponsors {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    flex-wrap: wrap;
    margin-top: 5rem;

    .s-list {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 5px;

      p {
        color: #1c1c1c;
        font-weight: bold;
      }
    }

    .sponsors-logo {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 700px) {
  .hero-header {
    h1 {
      text-align: left !important;
      padding: 0 10px;
      margin-top: 10rem;
    }
    p {
      text-align: left !important;
    }
  }
  .sponsors {
    gap: 30px !important;
    padding: 0 10px !important;
    justify-content: flex-start !important;
    width: 100%;
    .s-list {
      text-align: left !important;
    }
    .sponsors-logo {
      gap: 20px !important;
      margin-top: 10px !important;
      justify-content: start;
    }
  }
}

.numbers-count-label {
  padding: 0.5rem 1rem;
  text-decoration: none;
  margin-top: 25px;
}

.loading-text {
  color: rgb(54, 109, 192);
  font-style: italic;
  font-size: 1.5rem;
  font-weight: bold;
}

.error-text {
  color: red;
  font-weight: bold;
}

.badge-count {
  display: flex;
  align-items: center;
  width: 100%;
}

.counts {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Ensure it takes up full width */
}

.count-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 80px; /* Adds space between each count section */
}

.count-numbers {
  font-weight: bold;
  display: block; 
  font-size: 2rem;
  color: #000;
}

.count-numbers-text {
  font-size: 1rem;
  font-weight: bold;
  color: #3a3434ef;
}
