@import '../../assets/styles/variables.scss';
// body {
//     background-color: #fff;
// }

// .successContainer {
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-end !important;
//     align-items: center !important;
//     height: 100vh;
//     gap: 15px;
//     padding: 0 10px;
//     position: relative;
//     max-width: 100%;
//     background-color: #fff;

//     .infoContainer {
//         display: flex;
//         align-items: center;
//         justify-content: flex-end;
//         flex-direction: column;
//         height: 70vh;
//     }
//     .msg-icon {
//         border-bottom: 1px solid #000;
//         // width: 500px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//     }
//     .title-header {
//         font-family: $font-family_1;
//         font-size: 32px;
//         font-weight: 600;
//         color: #000;
//         // background: linear-gradient($congratulationTextColor, 88deg, #E9E9E9 0%, #BABABA 100%);
//     }
//     .report {
//         text-align: center;
       

//         p {
//             font-family: $font-family_2;
//             font-size: 18px;
//             font-weight: 400;
//             line-height: 150%;
//             color: #000;
//         }
//     }
    
//     .badge-more {
//         background-color: orange;
//         width:inherit !important;
//         height: 30vh;
//         position: relative;
//         // background-color:#F7F7F7;
//     }
//         a {
//             padding: 20px 70px;
//             background-color: #000;
//             // color: #000;
//             position: absolute;
//             top: 50px;
//             right: 4rem;
//         }
//     // }

   
// }

// @media screen and (max-width: 700px) {
//     .successContainer {
//         .title-header {
//             font-size: 25px !important;
//         }
       
//         .badge-more {
//             background-color: red;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             width: inherit;
           
//             a {
//                 padding: 20px 20px !important;
//             }
//         }
       
//     }
// }

main {
    // background-color: blue;
    color: #000;
    height: auto;
    width: 100%;
    

    .successContainer {
        background-color: #fff;
        max-width: 1440px;
        margin: auto;
        padding: 0 20px;

        .infoContainer{
            height: 70vh;
            display: flex;
            align-items: center;
            justify-content: end;
            flex-direction: column;
            background-color: #fff;
            max-width: 1440px;
            gap: 10px;

            .msg-icon {
                // border-bottom: 2px solid #000;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
            
            .title-header {
                font-family: $font-family_1;
                font-size: 32px;
                font-weight: 600;
                color: #000;
                // background: linear-gradient($congratulationTextColor, 88deg, #E9E9E9 0%, #BABABA 100%);
            }
            .report {
                text-align: center;
                margin-bottom: 5rem;
                p {
                    font-family: $font-family_2;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 150%;
                    color: #000;
                    
                }
            }

<<<<<<< HEAD
=======
section.project__badging__success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 15px;
    padding: 0 10px;
    max-width: auto;

    .title-header {
        font-family: $font-family_1;
        font-size: 32px;
        font-weight: 600;
        background: linear-gradient($congratulationTextColor, 88deg, #E9E9E9 0%, #BABABA 100%);
    }
    div {
        text-align: center;

        p {
            font-family: $font-family_2;
            font-size: 18px;
            font-weight: 400;
            line-height: 150%;
>>>>>>> f22538ac6e624af5349d2c198bdd09aec903129a
        }

        
    }
    .badge-more {
        background-color: #F7F7F7;
        height: 30vh;
        width: 100% !important;
        padding: 0 10px;

        .item {
            max-width: 1440px;
            background-color: #F7F7F7;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: end;
            height: 100%;
            border: none;

            a {
                padding: 20px 70px;
                background-color: #06F395;
                margin-right: 4rem;
                color: #000;
            }
        }
    }
    
}


@media screen and (max-width: 700px) {
    .successContainer {
        .title-header {
            font-size: 25px !important;
        }
    }
        .badge-more {
            
            .item {
                justify-content: center !important;
                align-items: start !important;
                padding-top: 50px !important;
            }
           
            a {
                padding: 20px 70px !important;
                margin-right: 0 !important;
            }
        }
       
   
}