.event-form-container {
  background-color: white;
  color: #000;
  width: 100%;
  // height: 70vh;
  color: black !important;

  div {
    color: black !important;
  }

  h1 {
    color: "#222222";
  }

  .buttonActive {
    background: #222D33;
  }
}

.in-person-form {
  width: 950px;
  padding-right: 120px;

  h4 {
    margin-top: 3rem;
    font-size: 32px;
    color: #000000;
  }

  p {
    // margin-top: 10px;
  }

  .physical-input {
    margin-top: 2rem;

    label {
      color: black;      
    }

    textarea {
      border-radius: 4px;
      margin-top: 13px;
      padding: 13px 16px;
    }

    p {
      padding: 4px 0px;
      font-size: 14px;
    }
  }


}