@import "../../assets/styles/variables";

.searchbar {
	.search {
		display: flex;
    border: 1px solid transparent;
		background: #F6F6F6;

		input[type="text"] {
			width: 100%;
			border: none;
			outline: none;
			background: transparent;
			font-size: 1rem;
      color: $headingColor;
		}

		button {
			border: 1px solid #fff;
			outline: none;
			background: $headingColor;
			padding: 13px 16px;
			width: 11rem;
			color: #fff;
		}

		img {
			margin: 0 0.2rem 0 1rem;
		}
	}

	> button {
		background: #fff;
		padding: 1.25rem 0;
	}
}
