/* ==================== CAROUSEL SECTION ======================= */
.carousel-container {
  position: relative;
  height: 200px;
  margin-top: 50px;
  padding-bottom: 200px;

  .card-carousel {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 200px;
    margin: 100px auto;
    align-items: center;
    position: relative;

    .card {
      background: #030303;
      border-image: linear-gradient(
          161deg,
          rgb(174, 173, 171, 0.9),
          rgba(115, 115, 115, 0.5)
        )
        1;
      border-width: 1px;
      border-style: solid;
      border-bottom: 0;
      padding: 20px;

      width: 960px;
      height: 200px;
      /* transition: all 0.75s ease; */
      opacity: 0;
      position: absolute;
      transform: scale(0.85) translateY(-70px);
    }
    .card-carousel-btn {
      background-color: #030303;
      border-radius: 2px;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      position: absolute;
      color: #bebebe;
      letter-spacing: 0.02em;
      padding: 8px 20px;
      top: 32px;
      right: 50px;
      border: 1px solid #aeadab;
    }
    .hidden_title {
      position: absolute;
      left: 10px;
      top: 5px;

      p {
        padding-left: 25px;
        padding-top: 8px;
        color: #24292e;

        font-weight: bold;
      }
    }

    .card-title {
      position: absolute;
      background-color: black;
      width: 311px;
      height: 47px;
      left: 45px;
      z-index: 10;
      top: 34px;

      border: 1px solid #454c53;
      border-bottom: 0;
      color: #ffffff;
    }
    .card-title p {
      padding-top: 20px;
      text-align: left;
      padding-left: 35px;
    }
    .copy {
      border: 1px solid #454c53;
      border-bottom: 0;
      margin: 60px 25px 0 25px;
      height: 120px;
      position: relative;
      z-index: 1;
    }

    .card h2,
    .card p {
      line-height: 1.5;
      margin: 0;
    }

    .card.active {
      opacity: 1;
      transform: scale(1) translateY(0);
      background: #030303;
      box-shadow: 0px 17px 10px 32px rgba(0, 0, 0, 0.2);

      z-index: 2;
      height: 200px;
    }
    .card.active .hidden_title {
      display: none;
    }

    .card.next {
      transform: scale(1.1) translateY(-20px);
      opacity: 1;
      z-index: 1;
      width: 774px;
      background: #030303;
      border: 1px solid #222d33;
      box-shadow: 0px 17px 10px 32px rgba(0, 0, 0, 0.2);

      .blank_div {
        display: none;
      }
    }

    .card.prev {
      transform: scale(1.1) translateY(-50px);
      z-index: 0;
      opacity: 1;
      width: 660px;
      background: #030303;
      border: 1px solid #222d33;
      box-shadow: 0px 17px 10px 32px rgba(0, 0, 0, 0.2);
      visibility: visible;
      .blank_div {
        display: none;
      }
    }

    .card-details-container {
      left: 51px;
    }

    .blank_div {
      position: absolute;
      top: 114px;
      left: 92px;

      .first_blank {
        display: flex;
        margin-bottom: 30px;
      }
      .second_blank {
        display: flex;
      }

      .blank_right {
        display: flex;
        margin-left: 55px;
      }
      .blank_left {
        display: flex;
      }
      .rec1 {
        width: 32px;

        height: 22px;

        background: #171717;
      }
      .rec2 {
        width: 387px;
        top: 114px;
        height: 22px;
        margin-left: 10px;
        background: #171717;
      }
      .rec3 {
        width: 260px;
        top: 114px;
        height: 22px;
        margin-left: 10px;
        background: #171717;
      }

      .hr_line {
        position: absolute;
        border: 0.5px solid #454c53;
        top: 36px;
        width: 116%;
        left: -46px;
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .how-it-works {
    .content {
      .cards {
        .card {
          width: 100%;
          height: 100%;
          padding: 2.9rem 3.5rem;
        }
      }
    }
  }
}
