.navigation-wrapper {
  width: 100%;
  position: fixed;
  background-color: rgba(
    255,
    255,
    255,
    0
  ); /* Semi-transparent background for the glass effect */
  backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
  -webkit-backdrop-filter: blur(10px);
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  .nav-items {
    width: 90%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.wrapper {
  width: 100%;
  max-width: 200px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
}

.dropdown-menu {
  border: 0.5px solid #adcff8;
  position: absolute;
  top: 45px;
  box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.0509803922);
  background-color: #eff4fb;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 162px;
  border-radius: 12px;

  a {
    font-size: 16px;
    font-weight: 500;
  }
}

.logo-icon-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;

  .logo-wrapper {
    max-width: 90px;
    height: 27px;
    width: 100%;

    a {
      width: 100%;
      display: block;
      height: 100%;

      .logo {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .menu-icon {
    width: -moz-fit-content;
    width: fit-content;

    .hamburger-icon {
      width: 40px;
      height: 40px;
      border: none;
      border-radius: 50%;
      background-color: rgba(34, 45, 51, 1);
      color: white;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}

.nav-menu {
  .nav-menu-links {
    .nav-link {
      width: -moz-fit-content;
      width: fit-content;
      margin: 20px 0;

      a {
        font-size: 16px;
        color: rgba(28, 28, 28, 1);
        font-weight: 500;
      }

      &:hover {
        a {
          color: #d61b5e;
        }
      }
    }

    .active-link {
      a {
        border-bottom: 2px solid #d61b5e;
        padding-bottom: 5px;
        transition: border-bottom 0.3s ease, padding-bottom 0.3s ease;
        font-weight: bold;
        color: #d61b5e;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .nav-menu {
    transform: translateY(-500px);
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    padding: 15px 0;
    border-radius: 0 0 10px 10px;
    transition: 0.3s linear;

    .nav-menu-links {
      width: 90%;
      margin: auto;
    }

    .apply-for-badge-wrapper {
      margin: 0 auto 10px;
      width: 90%;
      height: 40px;

      button {
        display: flex;
        max-width: 162px;
        width: 100%;
        cursor: pointer;
        background-color: rgba(34, 45, 51, 1);
        height: 40px;
        border-radius: 12px;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: 400;
        transition: 0.3s linear;

        &:hover {
          background-color: #d61b5e;
        }
      }
    }
  }
  .show {
    transform: translateY(0);
  }

  .dropdown-menu {
    top: -40px;
    left: 175px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-wrapper {
    .nav-items {
      gap: 40px;
    }
  }
  .logo-icon-wrapper {
    width: -moz-fit-content;
    width: fit-content;
    .menu-icon {
      display: none;
    }
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .nav-menu-links {
      display: flex;
      gap: 30px;
      align-items: center;
    }

    .apply-for-badge-wrapper {
      max-width: 162px;
      width: 100%;
      height: 40px;
      border-radius: 12px;
      overflow: hidden;
      background-color: rgba(34, 45, 51, 1);
      transition: 0.3s linear;

      &:hover {
        background-color: #d61b5e;
      }

      button {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: 400;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .navigation-wrapper {
    .nav-items {
      gap: 150px;
    }
  }

  .logo-wrapper {
    max-width: 130px;
    height: 27px;
    width: 100%;
  }
}

@media screen and (min-width: 1100px) {
  .navigation-wrapper {
    .nav-items {
      gap: 300px;
    }
  }
}

@media screen and (min-width: 1400px) {
  .navigation-wrapper {
    .nav-items {
      width: 100%;
      max-width: 1240px;
    }
  }
}
