@import "../../assets/styles/variables";

/* ==================== START HEADER STYLE ======================= */
header {
  // padding-top: 50px;
  // height: 100vh;
  background: var(--section-title-background);
  width: 100%;
  //   background-color: #fff;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-family_1;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    width: 1440px;
    z-index: 100;
    backdrop-filter: blur(6px);
    position: fixed;
    left: 0;
    right: 0;

    ul {
      display: flex;
      gap: 30px;
    }
    .active {
      color: red;
    }
  }

  .get-started {
    border: 1px solid #fff;
    padding: 20px 70px;
  }

  // .sub-nav {
  //   display: flex;
  //   flex-direction: column;
  //   width: 100%;
  //   height: 100vh;
  //   justify-content: center;
  //   align-items: center;
  //   margin: auto;
  //   position: absolute;
  //   // top: 100px;
  //   z-index: 99;
  //   /* background-color: blue; */

  //   .hero-section {
  //     max-width: 760px;
  //     height: auto;
  //     text-align: center;
  //     margin-top: 130px;
  //     display: flex;
  //     flex-direction: column;
  //     flex-wrap: wrap;

  //     .title {
  //       font-family: $font-family_1;
  //       font-style: medium;
  //       font-weight: 600;
  //       font-size: 54px;
  //       line-height: 66px;
  //       background: $heroTitleBackground;
  //       -webkit-background-clip: text;
  //       -webkit-text-fill-color: transparent;
  //       background-clip: text;
  //       -webkit-text-fill-color: transparent;
  //     }

  //     .description {
  //       font-family: "Work Sans";
  //       font-style: normal;
  //       font-weight: 400;
  //       font-size: 18px;
  //       line-height: 180%;
  //       letter-spacing: 0.02em;
  //       color: #858c90;
  //       margin-top: 10px;
  //       max-width: 860px;
  //     }
  //   }
  // }
}

/* ==================== END HEADER STYLE ======================= */
/* ==================== CAROUSEL SECTION ======================= */

.carousel-container {
  position: relative;

  margin-top: 10px;
  .card-carousel {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 390px;
    margin: 10px auto;
    align-items: center;
    position: relative;

    .card {
      background: #030303;
      border-image: linear-gradient(
          161deg,
          rgb(174, 173, 171, 0.9),
          rgba(115, 115, 115, 0.5)
        )
        1;
      border-width: 1px;
      border-style: solid;
      border-bottom: 0;
      padding: 20px;

      width: 376px;
      height: 200px;
      /* transition: all 0.75s ease; */
      opacity: 0;
      position: absolute;
      // left: 50%;
      // margin-left: 100px;
      transform: scale(0.85) translateY(-70px);
    }
    .card-carousel-btn {
      background-color: #030303;
      // border-radius: 2px;
      font-weight: 300;
      font-family: $font-family_1;
      font-size: 10px;
      line-height: 15px;
      position: absolute;
      color: #bebebe;
      letter-spacing: 0.02em;
      padding: 4px 10px;
      top: 35px;
      right: 20px;
      border: 1px solid #454c53;
    }
    .hidden_title {
      position: absolute;
      left: 10px;
      top: 5px;

      p {
        padding-left: 25px;
        padding-top: 8px;
        color: #24292e;

        font-weight: bold;
      }
    }

    .card-title {
      position: absolute;
      background-color: black;
      width: 175px;
      height: 60px;
      left: 15px;
      z-index: 10;
      top: 32px;
      border: 1px solid #454c53;
      border-bottom: 0;
      color: #ffffff;
    }
    .card-title p {
      font-family: $font-family_1;
      font-style: normal;
      padding-top: 15px;
      text-align: left;
      padding-left: 15px;
    }
    .copy {
      border: 1px solid #454c53;
      // display: none;
      border-bottom: 0;
      margin: 70px 0 0 -5px;
      width: 295px;
      height: 120px;
      position: relative;
      z-index: 1;
    }

    .card h2,
    .card p {
      line-height: 1.5;
      margin: 0;
    }

    .card.active {
      opacity: 1;
      transform: scale(1) translateY(0);
      background: #030303;
      box-shadow: 0px 17px 10px 32px rgba(0, 0, 0, 0.2);
      width: 330px;
      // margin: auto;
      z-index: 2;
      height: 210px;
    }
    .card.active .hidden_title {
      display: none;
    }

    .card.next {
      transform: scale(1.1) translateY(-20px);
      opacity: 1;
      z-index: 1;
      width: 350px;
      background: #030303;
      border: 1px solid #222d33;
      box-shadow: 0px 17px 10px 32px rgba(0, 0, 0, 0.2);
      display: none;

      .blank_div {
        display: none;
      }
    }

    .card.prev {
      transform: scale(1.1) translateY(-50px);
      z-index: 0;
      opacity: 1;
      width: 300px;
      background: #030303;
      border: 1px solid #222d33;
      box-shadow: 0px 17px 10px 32px rgba(0, 0, 0, 0.2);
      // visibility: visible;
      display: none;
      .blank_div {
        display: none;
      }
    }

    .card-details-container {
      left: 51px;
    }

    .blank_div {
      position: absolute;
      top: 114px;
      left: 32px;

      .first_blank {
        display: flex;
        margin-bottom: 30px;
      }
      .second_blank {
        display: flex;
      }

      .blank_right {
        display: flex;
        margin-left: 55px;
      }
      .blank_left {
        display: flex;
      }

      .row1,
      .row2,
      .row3 {
        display: flex;
        margin-bottom: 8px;
      }
      .small_rec1 {
        width: 65px;

        height: 22px;
        margin-right: 5px;
        background: #171717;
      }
      .small_rec2 {
        width: 196px;
        top: 114px;
        height: 22px;
        // margin-left: 10px;
        background: #171717;
      }

      .desktop_blank {
        display: none;
      }

      .rec1 {
        width: 32px;

        height: 22px;

        background: #171717;
      }
      .rec2 {
        width: 387px;
        top: 114px;
        height: 22px;
        margin-left: 10px;
        background: #171717;
      }
      .rec3 {
        width: 260px;
        top: 114px;
        height: 22px;
        margin-left: 10px;
        background: #171717;
        // display: none;
      }

      .hr_line {
        position: absolute;
        border: 0.5px solid #454c53;
        top: 36px;
        width: 116%;
        left: -46px;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .carousel-container {
    position: relative;
    // align-items: center;
    margin: 20px auto;

    .card-carousel {
      position: relative;

      .card {
        width: 960px;
        top: 100px;
      }
      .card-carousel-btn {
        border-radius: 2px;
        font-weight: 400;
        font-size: 12px;

        padding: 8px 20px;
        top: 35px;
        right: 58px;
      }

      .card-title {
        width: 311px;
        height: 47px;
        left: 45px;

        top: 34px;
      }
      .card-title p {
        padding-top: 15px;

        padding-left: 15px;
      }
      .copy {
        margin: 60px 25px 0 25px;
        height: 140px;
        width: 859px;
      }

      .card h2,
      .card p {
        line-height: 1.5;
        margin: 0;
      }

      .card.active {
        height: 220px;
        width: 960px;
      }
      .card.active .hidden_title {
        display: none;
      }

      .card.next {
        width: 774px;

        display: block;
        .copy {
          border: none;
        }

        .blank_div {
          display: none;
        }
      }

      .card.prev {
        width: 660px;

        display: block;
        .copy {
          border: none;
        }
        .blank_div {
          display: none;
        }
      }

      .card-details-container {
        left: 51px;
      }

      .blank_div {
        left: 92px;

        .mobile_blank {
          display: none;
        }
        .desktop_blank {
          display: block;
        }

        .hr_line {
          position: absolute;
          // border: 1px solid #454c53;
          border: 1px solid #171717;

          width: 109%;
        }
      }
    }
  }
}

// @media screen and (min-width: 1024px) and (max-width: 1439px) {
//   .carousel-container {
//     position: relative;
//     height: 200px;
//     margin-top: 50px;
//     padding-bottom: 200px;

//     .card-carousel {
//       list-style: none;
//       padding: 0;
//       display: flex;
//       flex-direction: column;
//       height: 200px;
//       margin: 100px auto;
//       align-items: center;
//       position: relative;

//       .card {
//         background: #030303;
//         border-image: linear-gradient(
//             161deg,
//             rgb(174, 173, 171, 0.9),
//             rgba(115, 115, 115, 0.5)
//           )
//           1;
//         border-width: 1px;
//         border-style: solid;
//         border-bottom: 0;
//         padding: 20px;

//         width: 960px;
//         height: 200px;
//         /* transition: all 0.75s ease; */
//         opacity: 0;
//         position: absolute;
//         transform: scale(0.85) translateY(-70px);
//       }
//       .card-carousel-btn {
//         background-color: #030303;
//         border-radius: 2px;
//         font-weight: 400;
//         font-size: 12px;
//         line-height: 15px;
//         position: absolute;
//         color: #bebebe;
//         letter-spacing: 0.02em;
//         padding: 8px 20px;
//         top: 32px;
//         right: 50px;
//         border: 1px solid #aeadab;
//       }
//       .hidden_title {
//         position: absolute;
//         left: 10px;
//         top: 5px;

//         p {
//           padding-left: 25px;
//           padding-top: 8px;
//           color: #24292e;

//           font-weight: bold;
//         }
//       }
//       // .hidden_title p {
//       //   padding-left: 25px;
//       //   padding-top: 10px;
//       //   // color: #11be34;
//       // }
//       .card-title {
//         position: absolute;
//         background-color: black;
//         width: 311px;
//         height: 47px;
//         left: 45px;
//         z-index: 10;
//         top: 34px;

//         border: 1px solid #454c53;
//         border-bottom: 0;
//         color: #ffffff;
//       }
//       .card-title p {
//         padding-top: 20px;
//         text-align: left;
//         padding-left: 35px;
//       }
//       .copy {
//         border: 1px solid #454c53;
//         // display: none;
//         border-bottom: 0;
//         margin: 60px 25px 0 25px;
//         height: 120px;
//         position: relative;
//         z-index: 1;
//       }

//       .card h2,
//       .card p {
//         line-height: 1.5;
//         margin: 0;
//       }

//       .card.active {
//         opacity: 1;
//         transform: scale(1) translateY(0);
//         background: #030303;
//         box-shadow: 0px 17px 10px 32px rgba(0, 0, 0, 0.2);

//         z-index: 2;
//         height: 200px;
//       }
//       .card.active .hidden_title {
//         display: none;
//       }

//       .card.next {
//         transform: scale(1.1) translateY(-20px);
//         opacity: 1;
//         z-index: 1;
//         width: 774px;
//         background: #030303;
//         border: 1px solid #222d33;
//         box-shadow: 0px 17px 10px 32px rgba(0, 0, 0, 0.2);

//         .blank_div {
//           display: none;
//         }
//       }

//       .card.prev {
//         transform: scale(1.1) translateY(-50px);
//         z-index: 0;
//         opacity: 1;
//         width: 660px;
//         background: #030303;
//         border: 1px solid #222d33;
//         box-shadow: 0px 17px 10px 32px rgba(0, 0, 0, 0.2);
//         visibility: visible;
//         .blank_div {
//           display: none;
//         }
//       }

//       .card-details-container {
//         left: 51px;
//       }

//       .blank_div {
//         position: absolute;
//         top: 114px;
//         left: 92px;

//         .first_blank {
//           display: flex;
//           margin-bottom: 30px;
//         }
//         .second_blank {
//           display: flex;
//         }

//         .blank_right {
//           display: flex;
//           margin-left: 55px;
//         }
//         .blank_left {
//           display: flex;
//         }
//         .rec1 {
//           width: 32px;

//           height: 22px;

//           background: #171717;
//         }
//         .rec2 {
//           width: 387px;
//           top: 114px;
//           height: 22px;
//           margin-left: 10px;
//           background: #171717;
//         }
//         .rec3 {
//           width: 260px;
//           top: 114px;
//           height: 22px;
//           margin-left: 10px;
//           background: #171717;
//         }

//         .hr_line {
//           position: absolute;
//           border: 0.5px solid #454c53;
//           top: 36px;
//           width: 116%;
//           left: -46px;
//         }
//       }
//     }
//   }
// }
/* ====================END CAROUSEL SECTION ======================= */
