@import '../../assets/styles/variables';

/* ==================== START HEADER STYLE ======================= */
header {
  // padding-top: 50px;
  height: 100vh;
  background: var(--section-title-background);
  width: 100%;
  //   background-color: #fff;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-family_1;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    width: 1440px;
    z-index: 100;
    backdrop-filter: blur(6px);
    position: fixed;
    left: 0;
    right: 0;

    ul {
      display: flex;
      gap: 30px;
    }
    .active {
      color: red;
    }
  }

  .get-started {
    border: 1px solid #fff;
    padding: 20px 70px;
  }

  .sub-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    // top: 100px;
    z-index: 99;
    /* background-color: blue; */

    .hero-section {
      max-width: 760px;
      height: auto;
      text-align: center;
      margin-top: 130px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      .title {
        font-family: $font-family_1;
        font-style: medium;
        font-weight: 600;
        font-size: 54px;
        line-height: 66px;
        background: $heroTitleBackground;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .description {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 180%;
        letter-spacing: 0.02em;
        color: #858c90;
        margin-top: 10px;
        max-width: 860px;
      }
    }
  }
}

/* ==================== END HEADER STYLE ======================= */
