@import "../../assets/styles/variables";

.requirements {
  width: 100%;

  padding-top: 100px;

  .section-one {
    .bg-getStarted {
      display: none;
    }
    height: 456px;
    img {
      background-position: center;
      width: 100%;
      height: 456px;
    }
  }
  .section-two {
    background-color: white;
    height: 696px;
    padding: 84px 31px 150px 31px;

    .section-wrap {
      padding: 89px 87px 114px 77px;
      border: 1px solid #bebebe;
      border-radius: 8px;
      background-color: #f5f5f5;
      .section-title {
        h2 {
          background: $headingColor;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          line-height: 40px;
          margin-bottom: 10px;
          font-family: $font-family_1;
          font-size: 40px;
          font-weight: 700;
        }
        hr {
          border: 1px solid #454c53;
          width: inherit;
          margin-bottom: 30px;
        }
      }

      .section-list {
        color: $textColor3;
        margin-bottom: 50px;
        li {
          width: 417px;
          color: $textColor4;
          margin-left: 25px;
          list-style-type: decimal;
          font-family: $font-family_2;
          font-weight: 400;
          font-size: 16px;
          line-height: 40px;
        }
      }
      .login-github {
        button {
          font-family: $font-family_2;
          font-weight: 700;
          font-size: 16px;
          color: $headingColor;
          width: 283px;
          height: 66px;
          background: #06f395;
          border: none;
          cursor: pointer;
          line-height: 24px;

          .btn-dt-badge {
            display: none;
          }
          img {
            padding-top: 4px;
            margin-left: 20px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .requirements {
    min-height: 100vh;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    margin: auto;

    .section-one {
      .bg-mobile-getStarted {
        display: none;
      }
      .bg-getStarted {
        display: block;
      }
      flex: 1;
      padding-top: 20px;
      padding-left: 120px;
    }
    .section-two {
      flex: 1;
      padding: 100px 50px 70px 120px;
      width: 600px;
      margin-right: 0;

      .section-wrap {
        padding: 89px 87px 114px 77px;
        border: 1px solid #bebebe;
        border-radius: 8px;
        background-color: #f5f5f5;
        .section-title {
          h2 {
            background: $headingColor;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            line-height: 40px;
            margin-bottom: 10px;
            font-family: $font-family_1;
            font-size: 40px;
            font-weight: 700;
          }
          hr {
            border: 1px solid #454c53;
            width: 440px;
            margin-bottom: 30px;
          }
        }

        .section-list {
          color: $textColor3;
          margin-bottom: 50px;
          li {
            width: 417px;
            color: $textColor4;
            margin-left: 25px;
            list-style-type: decimal;
            font-family: $font-family_2;
            font-weight: 400;
            font-size: 16px;
            line-height: 40px;
          }
        }
        .login-github {
          button {
            font-family: $font-family_2;
            font-weight: 700;
            font-size: 16px;
            color: $headingColor;
            width: 283px;
            height: 66px;
            background: #06f395;
            border: none;
            cursor: pointer;
            line-height: 24px;
            .btn-dt-badge {
              display: block;
            }
            .btn-mb-badge {
              display: none;
            }
            img {
              padding-top: 4px;
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
}
