.callout-note-on-sibmit {
    margin-top: 3rem;
    background: #ADCFF8;
    padding: 1rem;
    color: #222D33;
    border-radius: 8px;
}

.step-6-criteria {
    font-size: 14px;
    margin-top: 4rem; 
    line-height: 1.8;  
}
