@import '../../assets/styles/variables';

.requirements {
  background: #020202;

  // height: 100vh;
  min-height: 100vh;
  padding-top: 140px;
  padding-bottom: 140px;
  margin-left: auto;
  margin-right: auto;

  width: 75%;
  h1 {
    margin-top: 60px;
    font-family: $font-family_1;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.02em;
    background-clip: text;
    margin-bottom: 20px;
  }
  .first-section {
    font-family: $font-family_2;
    font-style: normal;
    p.top {
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
    }
    p.detail {
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: $secondaryTextColor;
    }

    .requirement {
      padding: 24px 29px;
      border: 1px solid #5b656b;
      width: 540px;
      height: 116px;
    }
    .first-requirement {
      border-bottom: none;
    }
  }

  .second-section {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 100px;
    p {
      color: $secondaryTextColor;
      line-height: 19px;
      font-weight: 400;
      font-size: 14px;
      margin-bottom: 50px;
    }
    button {
      width: 263px;
      height: 66px;
      padding: 23px 47px;
      gap: 20px;
      font-weight: 550;
      font-size: 16px;
      line-height: 20px;
      border: none;
      color: $headingColor;
      font-family: $font-family_1;
    }
    button:hover {
      background-color: #3ac060;
    }

    .create-github {
      margin-top: 10px;

      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 29px;

      letter-spacing: 0.02em;
      color: #199ad6;
    }
  }
}

@media screen and (min-width: 768px) {
  .requirements {
    .first-section {
      p.top {
        font-size: 18px;
      }
      p.detail {
        font-size: 16px;
        line-height: 29px;
      }

      .requirement {
        width: 997px;
        height: 106px;
      }
    }

    .second-section {
      p {
        line-height: 29px;

        font-size: 16px;
      }

      .create-github {
        line-height: 21px;
      }
    }
  }
}
