@import '../../assets/styles/variables.scss';

.project {
   
	height: auto;
    background-color: #000;
    padding: 100px 0px 20px 0px;
    // color: #000 !important;
    .badging > div {
        color: #000;
    }

    .badging {
        width: 100%;
        margin: auto;
        .badging-table {
            max-width: 65rem;
            margin: auto;
        }
        .search {
            display: flex;
            gap: 4px;
            justify-content:end;
            position: relative;
            .filter {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 13px 24px;
                gap: 4px;
                width: 119px;
                height: 50px;
                background: #EDEDED;
                font-family: $font-family_2;

                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                text-align: center;
                letter-spacing: 0.02em;
                color: #222D33;
                border: none;
            }
            input {
                box-sizing: border-box;
                width: 564px;
                height: 50px;
                border: 1px solid #BEBEBE;
            }
            .search-button {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                padding: 9px 31px;
                position: absolute;
                width: 117px;
                height: 42px;
                right: 5px;
                top: 4px;
                background: #030303;
                border: none;
                
                font-family: $font-family_2;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: #fff;
            }
        }
        
        .badging-footer {
            // background-color: red !important;
            padding: 20px 1px;
            color: #fff;
            display: flex;
            background-color: #000;
            align-items: center;
            max-width: 65rem !important;
            justify-content: flex-end;
            margin: auto;

            .pagination {
                background-color: #000;
                color: #fff !important;
            }
        }

    }
    
}

.MuiPagination-root .MuiPaginationItem-root {
    color: #fff; // Replace with your desired pagination text color
    border: #1C1C1C 1px solid;
  }
  
  .MuiPagination-root .MuiPaginationItem-root.Mui-selected {
    color: #000; // Replace with your desired pagination text color
    background-color: #fff;
  }