@import "../../assets/styles/variables";

footer {
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-family: "Work Sans";
  font-style: regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: $primaryTextColor;
  text-align: center;

  .social {
    display: flex;
    gap: 20px;
  }
  .social img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
  }
  /* Apply the zoom effect on hover */
  .social img:hover {
    transform: scale(1.2);
  }
  .copyright a:nth-child(1){
    color: #06F395;
  }
  .copyright a:nth-child(2) {
    color: #69C7B9;
  }
}

@media screen and (max-width: 1030px) {
  footer.container {
    padding: 3.5rem 3.9rem;
  }
}