@import "../../assets/styles/variables";
// * {
//   border: 1px solid red;
// }

.badge_form {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 1.5rem;

  h4 {
    padding-bottom: 8px;
    font-size: 18px;
  }
  .input-wrapper {
    margin-bottom: 1.3rem;
    &.mb-0 {
      margin-bottom: 0;
    }
    label {
      color: black;
      font-size: 14px;
      &.text-sm {
        font-size: 12px;
      }
    }
    span {
      color: red;
    }
    input[type="text"] {
      width: 100%;
      line-height: 40px;
      padding: 13px, 10px, 13px, 10px;
      border: 1px solid #bebebe;
      border-radius: 4px;
      color: black;
      box-sizing: border-box;
    }
    p.error {
      color: red;
    }

    textarea.input_text {
      resize: both;
      height: 78px;
      width: 100%;
      line-height: 40px;
      padding: 13px, 10px, 13px, 10px;
      border: 1px solid #bebebe;
      border-radius: 4px;
      color: black;
      box-sizing: border-box;
    }
    ::placeholder {
      line-height: 24px;
      padding-top: 0.5rem;
      padding-left: 1rem;
    }
    .reference {
      margin-top: 0;
      border: none;
      font-size: 12px;
      color: black;
      // height: fit-content;
      background-color: #fff;
      display: flex;
      align-items: center;
      p {
        color: red;
      }
      span {
        color: black;
        img {
          margin-top: 5px;
          width: 30px;
          height: 30px;
        }
      }
    }

    a {
      display: inline-block;
      position: relative;
      color: $chaossPink;
      font-size: 14px;
    }
    .suffix-text {
      padding-top: 0;
      font-size: 12px;
    }
  }
  .radio-input {
    accent-color: $textColor4;
    color: black !important;
    font-size: 14px;
    p.radio-input {
      padding-bottom: 10px;
    }
    span {
      color: red;
    }
    label {
      color: $textColor4;
      margin-right: 6px;
    }
    .radio-input input[type="radio"] {
      height: 29px;
      margin-right: 8rem;
    }
    input[type="radio"].radio-input {
      margin-right: 8px;
    }
  }
  .submit-button {
    margin-top: 0.5rem;
    height: 60px;
    padding: 8px, 24.1px, 8px, 24.1px;
    border: none;
  }

  .criteria {
    padding-bottom: 1rem;
    span {
      color: #000;
      font-weight: bold;
    }
    p {
      line-height: 1.5;
      padding: 0.2rem 0;
      font-size: 12px;
    }
    &.mt-2 {
      margin-top: 2rem;
    }
  }
}

@media screen and (min-width: 769px) {
  .badge_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    width: 80%;
    .input-wrapper {
      margin: 0;
      padding: 0;
      margin-bottom: 16px;
      h3 {
        color: black;
      }

      label {
        font-size: 16px;
        color: black;
        &.text-sm {
          font-size: 14px;
        }
      }
      span {
        color: red;
      }
      .suffix-text {
        font-size: 14px;
      }
      .reference {
        font-size: 14px;
      }
      input[type="text"] {
        line-height: 40px;

        padding: 13px, 16px, 13px, 16px;
        border: 1px solid #bebebe;
        border-radius: 4px;
        color: black;
      }
      textarea.input_text {
        height: 100px;
        line-height: 40px;
        padding: 13px, 10px, 13px, 10px;
        border: 1px solid #bebebe;
        border-radius: 4px;
        color: black;
      }
      ::placeholder {
        line-height: 24px;
      }
      .radio-input {
        accent-color: $textColor4;
        p {
          padding-bottom: 10px;
        }
        .radio-input input[type="radio"] {
          height: 29px;
        }
      }
    }
    .criteria {
      span {
        font-weight: bold;
      }
      p {
        font-size: 14px;
      }
    }
  }
}

// @media screen and (max-width: 700px) {
//   .page__nav {

//     ul {
//       li {

//         .main__link {
//           gap: 100px;
//         }
//       }
//     }
//   }
// }
