@import "../../assets/styles/variables";

.form-container {
  display: flex;
  min-height: 900px;
  height: auto;
  width: auto;
  font-family: Theinhardt Pan;
}
.form-wrap {
  height: auto;
  margin: 2rem 0;
  width: 100%;
  p {
    padding: 1rem 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }
  a.ev-link {
    color: $chaossPink;
    font-size: 14px;
  }

  .sub {
    display: flex;
    // justify-content: space-between;
    gap: 2rem;
    margin-top: 3rem;
    .sub-button {
      top: 10rem;
      margin-bottom: 1rem;
      cursor: pointer;
      width: 100%;
      height: 60px;
      padding: 8px, 24.1px, 8px, 24.1px;
      border: 1px solid #adcff8;
      outline: none;
      border-radius: 4px;
      color: black;
    }
  }

  .submit-info {
    border: 1px solid #adcff8;
    border-radius: 4px;
    background-color: #eff4fb;
    padding: 1rem;
    font-size: 12px;
    margin-top: 1.7rem;
    p {
      padding: 0;
    }
  }
}

@media screen and (min-width: 769px) {
  .form-container {
    display: flex;
    min-height: 950px;
  }
  .form-wrap {
    width: 80%;
    min-height: 100%;
    margin: 4rem 0;
    h1 {
      font-size: 32px;
    }

    p {
      padding: 1rem 0;
      font-size: 16px;
      line-height: 29px;
    }

    .sub {
      width: 80%;
      .sub-button {
        top: 10rem;
        margin-bottom: 1rem;
        height: 60px;
        padding: 8px, 24.1px, 8px, 24.1px;
        border: 1px solid #adcff8;
        outline: none;
        border-radius: 4px;
        color: black;
      }
    }

    .submit-info {
      margin: 1.5rem 0;
      font-size: 14px;
    }
  }

  @media screen and (min-width: 1025px) {
    .form-wrap {
      width: 60%;
    }
  }
}
