@import '../../assets/styles/variables';

.formContainer {
  // position: relative;

  height: 100%;
  background: var(--section-title-background);
  font-family: $font-family_2;

  .form-main {
    position: relative;
    // height: 300px;
    background-color: #fff;
    top: 100px;
    margin-bottom: 100px;
    form {
      // padding-top: 30px;
      // position: relative;
      background: #f3f3f3;
      // background: red;

      // top: 88px;

      // padding: 20px 20px 80px 20px;
      margin: 30px auto 70px auto;
      // color: black;
      min-width: 250px;
      width: 837px;
      height: 750px;

      h4#form-header {
        background-color: #f3f3f3;
        // background-color: #f3f3f3;

        color: #000;
        font-family: $font-family_1;
        font-size: 18px;
        padding-top: 40px;
        padding-bottom: 20px;
      }

      .formItemWrap {
        padding: 25px 65px;

        input {
          width: 900px;
          height: 50px;
          color: #000;
          border: 1px solid #bebebe;
          padding-left: 20px;
        }

        label {
          color: #000;

          margin-bottom: 20px;
        }
        ::placeholder {
          font-size: 16px;
          line-height: 150%;
          padding-left: 20px;
          letter-spacing: 0.02em;
        }
        .inputIcon {
          height: 50px;
          background-color: $primaryTextColor;
          padding: 14px 14px;
          border: 1px solid #bebebe;
        }
        .formField {
          display: flex;
          margin-top: 5px;
          margin-bottom: 20px;
          // padding-bottom: 15px;

          // flex-direction: column;
        }
        #badgeTextArea {
          margin-top: 5px;
          margin-bottom: 25px;
        }
        textarea {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          height: 200px;
          color: #000;
          padding-left: 20px;
        }
        #maxText {
          color: #1c1c1c;
          // margin-top: -25px;
          padding-top: 0;
        }
      }
      button#badgeBtn {
        margin-top: 15px;
        padding: 5px 10px;
      }
      #badgeBtn {
        color: #1c1c1c;
      }
    }
  }
}
