/* ==================== START IMPORT FONTS ======================= */
@import url("https://api.fontshare.com/v2/css?f[regular]=clash-display@200,400,300,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
/* ==================== END IMPORT FONTS ======================= */

$font-family_1: "Clash Display";
$font-family_2: "Work Sans", sans-serif;
$sectionTitleBackground: radial-gradient(
  34.77% 34.77% at 50% 50%,
  rgba(29, 232, 98, 0.2) 0%,
  rgba(29, 232, 98, 0) 100%
);
$primaryTextColor: #fff;
$secondaryTextColor: #858C90;
$primaryBackgroundColor: #000;
$primaryBorderColor: #454c53;
$projectsBackgroundColor: #090909;
$heroTitleBackground: linear-gradient(
  258.74deg,
  #69c7b9 14.64%,
  #e1b1ee 73.78%
);
$cardTitleBackground: linear-gradient(
  123.52deg,
  #ffffff -36.16%,
  rgba(255, 255, 255, 0) 219.41%
);
