@import '../../assets/styles/variables.scss';
.faq {
  margin: 0 auto;
  padding: 0;
  width: 100%;

  .faq-img {
    display: flex;
    justify-content: center;

    img {
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      max-width: 100%;
      margin: 0 auto;
    }
  }

  h3 {
    padding-top: 2rem;
    text-align: start;
    color: black !important;
  }
  p {
    padding: 1rem 0;

    color: $primaryTextColor;
  }
  .sub-nav {
    .hero-section {
      margin: 0;
    }
  }
  .faqpage {
    color: red !important;
    // margin-left: 5rem;

    .faqpage h3 {
      padding-top: 2rem;
      color: red !important;
    }
  }

  .faq_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 508px;

    .sidebar a {
      width: 180px;
      // padding-top: 2rem;
    }

    .footer {
      text-align: center;
    }
  }
}
