@import '../../../styles/mixins';
@import '../../../styles/variables';

// bg-transparent outline-none rounded py-4 h-12 w-full focus:border-primary transition-all duration-200 ease-in-out',
// rounded w-full h-12 my-1 focus:border-primary

.field__container {
  font-family: $secondary-font;
  width: 100%;
  label {
    font-size: fontSize('sm');
    margin-bottom: 6px;
  }
  .text__field__container {
    @include flexItem;
    width: 100%;
    .text__field {
      background-color: transparent;
      outline: none;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      height: 50px;
      width: 100%;
      transition: all 0.2s ease-in-out;
      padding: 20px 10px;
      border: 1px solid rgba(33, 63, 125, 0.2);
      font-size: fontSize('sm');
      &.error__border {
        border: 1px solid $error;
      }
      &:focus {
        border: 1px solid $primary-color;
      }
    }
  }
}
